name = "onfire-tob-worker"
main = "workers/tob-worker/src/index.ts"
compatibility_date = "2025-06-01"
compatibility_flags = ["nodejs_compat"]

[vars]
APP_PREFIX = "/api/tob"

[[d1_databases]]
binding = "DB"
database_name = "onfire-d1"
database_id = "local"
migrations_dir = "drizzle/migrations"
